<!-- <ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]=true>
  <div class="slides">
    <ion-card>title</ion-card>
    <ion-card>background</ion-card>
    <ion-card>project</ion-card>
    <ion-card>アイディアのポイント</ion-card>
    <ion-card>技術の工夫</ion-card>
  </div>
  <div class="comments">
    <p>コメント</p>
  </div>
  <div class="btn-group">
    <ion-button class="btn-filler">フィラーを数える</ion-button>
    <p><span>X</span>回</p>
    <ion-button class="btn-end">終了</ion-button>
  </div>
</ion-content>
