<!-- <ion-header>
  <ion-toolbar>
    <ion-title>feedback</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]=true>
  <div class="slides">
    <ion-card>title:<br> {{return["title"]}}</ion-card>
    <ion-card>background:<br> {{return["description_background"]}}</ion-card>
    <!--<ion-card>project</ion-card>-->
    <ion-card>アイディアのポイント:<br> {{return["description_idea"]}}</ion-card>
    <ion-card>技術の工夫:<br> {{return["description_technology"]}}</ion-card>
  </div>
  <!--
  <div class="comments">
    <p>コメント</p>
    <ion-textarea></ion-textarea>
  </div>
  -->
  <div class="comments">
    <ion-item class="comments_inner">
      <ion-label position="floating">{{status}}</ion-label>
      <ion-textarea rows="20" [value]="text"></ion-textarea>
    </ion-item>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        <video id="camera" width="300" height="200"></video><br>
        <ion-button class="btn-filler" [fill]="video_button_fill" (click)="changeCamera()">{{video_text}}</ion-button>
      </ion-col>
      <ion-col>
        
      </ion-col>
      <ion-col>
        <div class="btn-group">
          <ion-button class="btn-filler" (click)="startSpeech()">読み上げ開始</ion-button>
          <ion-button class="btn-end" (click)="stopSpeech()">読み上げ停止</ion-button>
        </div>
        <div class="btn-group">
          <ion-button class="btn-filler" (click)="countFiller()">フィラーを数える</ion-button>
          <p><span>X</span>回</p>
          <ion-button class="btn-end">練習終了</ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
