<ion-header>
  <ion-toolbar>
    <ion-title><ion-icon name="star-half-outline"></ion-icon><span class="ion-padding" >評価する</span></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--
  <mat-slider
  class="ion-padding"
  [(ngModel)] = "rate"
  tickInterval="0.1"
  step="50"
  min="0"
  max="5"
  aria-label="units"></mat-slider>-->

  <ion-button class="ion-padding" expand="block" (click)="dismiss()">点数を決定する</ion-button>
  <ion-button class="ion-padding" expand="block" fill="outline" (click)="dismiss()">戻る</ion-button>
</ion-content>
