<!-- <ion-header>
  <ion-toolbar>
    <ion-title>title</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]=true>
  <!--
    <div class="div_main">
      <h1>つくった目的</h1>
      <p>
        こんな理由で作ったんですよね！うんうん！
      </p>
    </div>
    <div class="div_img">
      <img src="/assets/img/project_img_none.png">
    </div>
  -->
  <div class="div_main">
    <h1>作った背景</h1>
    <p>
      {{abstract1}}
    </p>
    <p>
      {{abstract2}}
    </p>
    <p>
      {{abstract3}}
    </p>
    <p>
      {{abstract4}}
    </p>
  </div>
  <div class="div_img">
    <img [src]="thumbnail">
  </div>
</ion-content>
